{% extends "account/base.html" %}
{% comment %} {% extends "account/base.html" %} {% endcomment %}

{% load i18n %}

{% block head_title %}{% trans "Account active" %}{% endblock %}

{% block content %}
<div style="min-height:400px;padding-top:150px" class="container py-4">
<h1>your account</h1>
<p>{% trans "This account is active." %}</p>
{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
</div>


{% endblock %}
